* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
/.claude export-ignore
/.codex export-ignore
/.cursor export-ignore
/docs export-ignore
/tests export-ignore
/.env.example export-ignore
/.gitignore export-ignore
/phpunit.xml export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
